* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 50px;
    font-family: Arial, sans-serif;
    text-align: center;
}
#stopwatch{
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    position: static;
}
#timer {
    box-sizing: border-box;
    margin: 10px;
    width: 90vw;
    border: 1px solid black;
    font-size: 4rem;
}
button {
    box-sizing: border-box;
    margin: 5px;
    padding: 10px 20px;
    border: 1px solid black;
    font-size: 2rem;
    cursor: pointer;
}
#records {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 60vh;
}
#records p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 3rem;
    font-weight: bold;
}
#records button {
    margin-bottom: 10px;
}
.record-date {
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 40vh;
    font-size: 1rem;
    font-weight: bold;
    overflow-y: scroll;
}
table {
    width: 80vw;
    margin: 0 auto;
    border-collapse: collapse;
    overflow-y: hidden;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
